h2 {
  color: white;
  text-align: center;
}

.slide-wrapper {
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.button {
  background-color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
}

.image-box {
  height: 80vh;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
.image {
  width: 300px;
  resize: both;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
}

